body {
   font-family: 'Roboto Slab', serif;
}

.masthead {
   font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 36px;
   width: 100%;
   margin-left: 0;
}

.masthead a {
   text-decoration: none;
}

.masthead a:hover {
   color: inherit;
}

#header {
   border-bottom: 2px dashed #aaa;
   margin-bottom: 6rem;
}

.nav-list {
   list-style: outside none none;
}

.nav-item {
   float: left;
   padding-right: 23px;
}

.nav-item a {
   text-decoration: none;
   color: #444;
   text-transform: uppercase;
}

.footer {
   font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
   border-top: 1px solid #ddd;
   margin-top: 25px;
   padding: 15px 25px 10px 25px;
}

#copyright {
   list-style: none;
}

.post {
   font-size: 1.0em;
}

.post-title a {
   text-decoration: none;
}

.post p {
   margin-left: 5px;
   margin-right: 5px;
}

.post img {
   max-width: 625px;
}

.inline * {
   display: inline-block;
}

.post-title {
   font-size: 1.8em;
   letter-spacing: -0.01em;
   margin-bottom: 10px;
}

.muted {
   opacity: 0.6;
}

.post-date {
   float: right;
}

a {
   color: #333;
}

.latest-recipes {
   list-style: outside none none;
}

.recipe-card  {
   background-color: #eee;
   padding: 10px 10px 10px 10px;
   border-radius: 3px;
}

.recipe-card h1 {
   font-size: 2.0em;
}

.recipe-card h2 {
   font-size: 1.5em;
   margin-bottom: 2px;
}

.recipe-card-times {
   border-top: 1px solid #333;
   border-bottom: 1px solid #333;
   text-align: center;
   margin-bottom: 2rem;
}

.recipe-card li {
   margin-bottom: -3px;
}

.recipe-card-instructions ol {
   margin-bottom: 5px;
}

.recipe-browser-form ul {
   list-style: none;
}

.recipe-browser-form li {
   margin-bottom: -12px;
}