{% load staticfiles %}
{% load compile_static %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>SparklesAndSpice</title>
      <link rel="stylesheet" type="text/css" href="{% static 'bower_components/skeleton-css/css/skeleton.css' %}">
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}{% compile 'css/style.less' %}">
      <script type="text/javascript" src="{% static 'js/sns.js' %}"></script>

      <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
   </head>
   <body>

   <div class="site-container container">

      <div class="header">
         <div class="masthead">
            <a href="#">Sparkles and Spice</a>
         </div>

         <div class="nav">
            <ul class="nav-list">
               <li class="nav-link"><a href="#">Contact</a></li>
               <li class="nav-link"><a href="#">About</a></li>
               <li class="nav-link"><a href="#">Fashion</a></li>
               <li class="nav-link"><a href="#">Recipes</a></li>
               <li class="nav-link"><a href="#">Food</a></li>
            </ul>
         </div>
      </div>

      <div class="row">
         <div class="two-thirds column main">
            {% block content %}{% endblock %}
         </div>

         <div class="one-third column sidebar">
            {% include "blog/sidebar.html" %}
         </div>
      </div>


   </div>



   </body>
</html>