{% load staticfiles %}
{% load compile_static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Pretty in Pecans</title>
      
      <link rel="stylesheet" type="text/css" href="{% static 'bower_components/skeleton-css/css/normalize.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'bower_components/skeleton-css/css/skeleton.css' %}">
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}{% compile 'css/style.less' %}">
      <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/sns.js' %}"></script>
      <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="{% static 'bower_components/fontawesome/css/font-awesome.min.css' %}">
   </head>
   <body>
      <div class="container">

         <div class="row">
            <div class="twelve-columns">
               <header>
                  <img src="{% static 'images/pip_logo.png' %}" nopin="nopin">
                  <nav>
                     <ul class="nav inline-items">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'food_index' %}">Food</a></li>
                        <li><a href="{% url 'recipe_browser' %}">Recipes</a></li>
                        <li><a href="{% url 'fashion_index' %}">Fashion</a></li>
                        <li><a href="{% url 'travel_index' %}">Travel</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                     </ul>
                  </nav>
               </header>
            </div>
         </div>

         <div class="row">
            <div id="sidebar" class="one-third column">
               {% block sidebar %}
                  {% include 'blog/sidebar.html' %}
               {% endblock %}
            </div>
            <div id="main-content" class="two-thirds column">
               <div class="content">
                  {% block content %}{% endblock %}
               </div>
               
            </div>
         </div>
         <footer>
            {% include 'blog/footer.html' %}
         </footer>
      </div>

      <script type="text/javascript" async defer data-pin-shape="round" data-pin-height="32" data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>
   </body>
</html>