{% extends "blog/base.html" %}

{% block content %}

    {% include "blog/post.html" with post=post %}

    {% if post.recipes %}
        {% for recipe in post.recipes.all %}
            {% include "blog/recipe_card.html" with recipe=recipe %}
        {% endfor %}
    {% endif %}

    <div class="related-posts">
        <h3 class="related-text">More from Pretty in Pecans:</h3>

        <div class="row">
            {% for related in related_posts %}
                <div class="one-third column">
                    <a href="{% url 'detail' related.slug %}">
                        <div class="related-post" data-post-title="{{ related.title }}">
                            <img src="{{ related.header_image.image.url }}" alt="{{ related.title }}" />
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}