{% extends "blog/base.html" %}

{% block title %} All Posts {% endblock %}

{% block content %}

   {% for post in latest_posts %}
     {% include "blog/post_condensed.html" with post=post %}
   {% endfor %}


      <div class="pagiantion row">
         <div class="one-third column">
            <span class="pagination-prev">
               {% if page_obj.has_previous %}
                  <a href="?page={{ page_obj.previous_page_number }}">prev</a>
               {% else %}
                  prev
               {% endif %}
            </span>
         </div>

         <div class="one-third column pagination-current">
            {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
         </div>

         <div class="one-third column">
            <span class="pagination-next u-pull-right">
               {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">   next</a>
               {% endif %}
            </span>
         </div>
      </div>

{% endblock %}