{% load static %}

<div class="post">
    <div class="post-header row">
        <a href="{% url 'detail' post.slug %}" class="post-title">{{ post.title }}</a>
    </div>
    <div class="row">
        <div class="two columns">
            <span class="post-date">{{ post.pretty_date }}</span>
        </div>
    </div>
    <img src="{{ post.header_image.image.url }}" />
    {% lorem 3 p %}

    {% if post.is_modified %}
        <span class="muted"><em>Edited on {{ post.edited_on }}</em></span>
    {% endif %}
</div>