{% load static %}

<div class="post">
    <div class="post-header row">
        <a href="{% url 'detail' post.slug %}" class="post-title">{{ post.title }}</a>
    </div>
    <div class="row">
        <div class="two columns">
            <span class="post-date">{{ post.pretty_date }}</span>
        </div>
    </div>
    <img src="{{ post.header_image.image.url }}" />

    <div class="post-body">
        {{ post.truncated_body | safe }}
    </div>

    <p><a href="{% url 'detail' post.slug %}">Read more &#8594;</a></p>

    <img class="seperator" src="{% static 'images/sparkles.png' %}" />
</div>