{% load static %}

<div class="post">
    <div class="post-header row">
        <span class="post-title">
            <a href="{% url 'detail' post.slug %}">{{ post.title }}</a>
        </span>
    </div>
    <div class="row">
        <div class="two columns">
            <span class="post-date">{{ post.pretty_date }}</span>
        </div>
    </div>
    <img src="{{ post.header_image.image.url }}" />
    {{ post.truncated_body | safe }}

    <p><a href="{% url 'detail' post.slug %}">Read more &#8594;</a></p>
</div>