{% extends "blog/base.html" %}

{% block sidebar %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'recipe_browser' %}" method="post" class="recipe-browser-form">
        {% csrf_token %}
        {{ form }}

            {% if show_clear %}
                <input type="button" onclick="recipe_browser_clear()" value="Clear" />
            {% else %}
                <input type="submit" value="Submit" />
            {% endif %}
    </form>
{% endblock %}

{% block content %}
    {% include 'blog/recipes.html' with recipes=recipes %}
{% endblock %}