@related-size: 190px;

.post-header {
   margin-bottom: 0;

   a {
      color: #333;
   }
}

.post-title {
   float: left;
   margin-bottom: 0;
   font-family: 'Amatic SC', cursive;
   font-size: 28px;
   letter-spacing: -0.01em;

   a { text-decoration: none; }
}

.post-date {
   float: right;
   font-size: 12px;
   padding-top: 16px;
   opacity: 0.6;
}

.related-posts {
   margin-top: 25px;
}

.related-post {
   position: relative;
   width: @related-size;
   height: @related-size;
}

.related-post img {
   width: 100%;
   width: @related-size;
   height: @related-size;
   vertical-align: top;
}

.related-post:after, .related-post:before {
   position: absolute;
   opacity: 0;
   transition: all 0.5s;
   -webkit-transition: all 0.5s;
}

.related-post:after {
   content:'\A';
   width:100%; height:100%;
   top:0; left:0;
   background:rgba(0,0,0,0.6);
}

.related-post:before {
   content: attr(data-post-title);
   width:100%;
   color: #fff;
   z-index: 1;
   bottom: 90px;
   padding: 4px 10px;
   text-align: center;
   box-sizing:border-box;
   -moz-box-sizing:border-box;
}

.related-post:hover:after, .related-post:hover:before {
   opacity:1;
}

.related-text {
   margin-bottom: 5px;
}

.recipe-card  {
   background-color: #F6F6F6;
   padding: 10px 10px 10px 10px;
   border-radius: 3px;

   h2 {
      margin-bottom: 2px;
   }

   li {
      margin-bottom: -3px;
   }
}

.recipe-card-times {
   border-top: 1px solid #333;
   border-bottom: 1px solid #333;
   text-align: center;
   margin-bottom: 2rem;
}

.recipe-card-instructions ol {
   margin-bottom: 5px;
}